.form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    margin-top: 150px;
    width: 100% ;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .show-password:hover {
    color: #007bff;
  }
  
  button.submit-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.submit-button:hover {
    background-color: #218838;
  }
  
  span {
    color: red;
  }
  